/* Downloaded from https://codquest.com/ */
@media screen and (max-width: 500px) {
	::-webkit-scrollbar {
		width: 0.15em;
		height: 0.15em;
	}
	::-webkit-scrollbar-thumb {
		background: slategray;
	}
	::-webkit-scrollbar-track {
		background: #b8c0c8;
	}
	body {
		scrollbar-face-color: slategray;
		scrollbar-track-color: #b8c0c8;
	}
	body, html {
		height: 100%;
		width: 100%;
	}
	body {
		font-family: "Roboto";
	}
	.wrap {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		height: 100%;
		width: 100%;
	}
	body {
		background: #f8f8f8;
	}
	body.large-screen .table-wrapper {
		max-width: 800px;
	}
	body.large-screen .card-list-table {
		background: white;
	}
	body.large-screen .card-list-table tbody tr {
		background: transparent;
		box-shadow: none;
		margin: 0;
	}
	body.large-screen .card-list-table tbody tr:nth-of-type(even) {
		background: #dfdfdf;
	}
	body.large-screen .card-list-table thead {
		display: table-header-group;
	}
	body.large-screen .card-list-table thead th:last-child {
		box-shadow: none;
	}
	body.large-screen .card-list-table thead th {
		border-bottom: 1px solid #dfdfdf;
		padding: 12px 24px;
	}
	body.large-screen .card-list-table tbody tr {
		display: table-row;
		padding-bottom: 0;
	}
	body.large-screen .card-list-table tbody tr:nth-of-type(even) {
		background: #fff;
	}
	body.large-screen .card-list-table tbody td {
		border-bottom: 1px solid #dfdfdf;
		cursor: pointer;
		display: table-cell;
		padding: 20px 24px;
		-webkit-transition: background .2s ease-out;
		transition: background .2s ease-out;
		vertical-align: middle;
	}
	body.large-screen .card-list-table tbody td:after {
		display: none;
	}
	body.large-screen .card-list-table tbody td:before {
		content: '';
	}
	body.large-screen .card-list-table tbody tr:hover td {
		background: #fcf3d0;
	}
	.table-wrapper {
		max-width: 300px;
		width: 80%;
		margin: 0 auto 0;
		max-height: 500px;
		overflow-y: scroll;
		position: relative;
		-webkit-transition: all .2s ease-out;
		transition: all .2s ease-out;
	}
	@media ( min-width : 768px) {
		.table-wrapper {
			background: white;
			box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
		}
	}
	.card-list-table {
		table-layout: fixed;
		background: transparent;
		margin-bottom: 0;
		width: 100%;
	}
	.card-list-table thead {
		display: none;
	}
	.card-list-table tbody tr {
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
		background: #fff;
		border-bottom: 1px solid #dfdfdf;
		cursor: pointer;
		display: block;
		padding: 15px 10px;
		margin: 0 0 10px 0;
	}
	.card-list-table tbody td {
		border: 0;
		display: block;
		padding: 10px 10px 20px 40%;
		position: relative;
	}
	.card-list-table tbody td:first-of-type::after {
		visibility: hidden;
	}
	.card-list-table tbody td:after {
		content: '';
		width: calc(100% - 30px);
		display: block;
		margin: 0 auto;
		height: 1px;
		background: #dfdfdf;
		position: absolute;
		left: 0;
		right: 0;
		top: -6px;
	}
	.card-list-table tbody td:before {
		color: rgba(0, 0, 0, 0.35);
		text-transform: uppercase;
		font-size: .85em;
		content: attr(data-title);
		display: table-cell;
		font-weight: 500;
		height: 100%;
		left: 15px;
		margin: auto;
		position: absolute;
		vertical-align: middle;
		white-space: nowrap;
		width: 40%;
	}
	.card-list-table thead th {
		text-transform: uppercase;
		font-size: .85em;
		color: rgba(0, 0, 0, 0.35);
		letter-spacing: .5pt;
	}
}