.space-btn {
	margin-right: 5px
}

.footer {
	background-color: #f5f5f5;
	position: relative;
	bottom: 0px;
	text-align: center;
	border-top: 1px solid #cdcdcd
}

.footer div {
	padding: 50px;
}

.remove-item {
	
}